.comm-btn{
  background-image: linear-gradient(-180deg, #FFFFFF 0%, #F4F4F4 100%);
  border: 1px solid #CCCCCC;
  -webkit-border-radius: 32px;
  border-radius: 32px;
  color: #333;
  cursor: pointer;
  text-align: center;
  font-size: 12px;
  padding: 10px 20px;
}
.tr-main-btn{
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  background-image: linear-gradient(-180deg, #64A2FF 0%, #2978FF 100%);
  padding: 10px 20px;
  font-size: 12px;
}
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #dadada;
}
::-webkit-scrollbar-track {
  background: #ffffff;
}