.dialog-foot{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
.grid-box{
  display: grid;
  grid-template-columns: 300px 2px auto auto auto;
  grid-template-rows: 60px auto auto;
  grid-gap: 2px;
  width: 100%;
  height: 100%;
}
.grid-b:nth-of-type(1) {
  grid-column: 1 / 6;
  border-bottom: 2px solid #f0f0f0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.grid-b:nth-of-type(2) {
  padding: 8px 5px;
  grid-row: 2 / 4;
}
.grid-b:nth-of-type(3) {
  grid-row: 2 / 4;
  background-image: linear-gradient(to bottom,#f0f0f0,#ffffff);
  cursor: e-resize;
}
.grid-b:nth-of-type(4) {
  grid-row: 2 / 4;
  grid-column: 3 / 6;
}
.my-courware{
  width: 100%;
  height: 100%;
}