.my-coures{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  .my-coures-content{
    width: 100%;
    height: 100%;
    display: flex;
    // align-items: center;
    .content-right{
      width: 100%;
      box-sizing: border-box;
      padding: 20px;
      display: flex;
      flex-direction: column;
      .count-show{
        color: #666;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: none;
      }
      .content-inner{
        display: flex;
        width: 100%;
        height: 100%;
      }
    }
  }
}